.container-tabela {
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border: 1px solid #f0f0f5;
    overflow: hidden;
    width: 75%;
     
    max-height: 400px;      
    overflow-y: auto;       
}

.container-tabela table {
    width: 100%;
    border-collapse: separate;
    text-align: left;
}

.cabecalho-table th {
    position: sticky;
    top: 0;
    z-index: 10;
    color: #1e293b;
    font-weight: 600;
    padding: 14px 12px;
}

.container-tabela td {
    padding: 14px 12px;
    color: #212529;
    vertical-align: middle;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}